/* commoncss */
* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-primary{
  border-radius: 8px;
  background-color: #ff900d;
  color: #FFFFFF;
  padding: 20px 25px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* header */
header{
  background-color: rgba(255, 144, 13, 0.102);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  color:#131313;
font-size:35px;
 font-weight: 700;
}
nav> ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
nav li a{
 text-decoration: none;
}
/* banner part */
.banner-content{
  max-width: 852px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  color:#131313;
font-size:54px;
font-weight: 700;
}
.banner-description{
  color:#727272;
}
.banner-img{
  margin-top: 30px;
  width: 100%;
}
/* responsive styles */

/* main styles */
 main{
   max-width: 1440px;
   margin: 0 auto;
 }
 .team-section{
    display: flex;
    align-items: center;
    gap: 20px;
  }
.team-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}


/* mobile devices */
@media screen and (max-width:576px) {
  header{
      padding: 20px;
  }
  nav{
     flex-direction: column;
  }
}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
}